<h5>Leave a review</h5>
<div class="reviewForm">
    <% if(currentUser) {%>
        <form action="/listings/<%= listed._id %>/reviews" method="post" class="container-md d-flex needs-validation" novalidate>
            <div class="reviewform-user">
                <i class="fa-regular fa-user" style="color: rgb(117 117 117);"></i>
            </div>
            <div class="input-review d-flex flex-column">
                <div class="rating">
                    <% for(let i=1; i<=5; i++){ %>
                        <i class="stars fa-regular fa-star " style="color: rgb(255, 89, 119);" data-value='<%= i %>'></i>
                    <% } %>
                </div>
                <input type="hidden" name="rating" id="rating" >
                <div class="mb-3">
                    <label for="input-comment" class="form-label">Comments</label>
                    <textarea name="comment" id="input-comment" class="input-comment form-control" required></textarea>
                    <div class="invalid-feedback">Please add some comment for review.</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    <% } %>
</div>

<div class="propertyReviews">
    <% if(listed.reviews && listed.reviews.length > 0){ %>
        <div class="row">
            <% for(let rev of listed.reviews){ %>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="review-card card">
                        <div class="review-card-item1 d-flex justify-content-around">
                            <div class="user-rev d-flex">
                                <div class="review-user">
                                    <i class="fa-regular fa-user" style="color: rgb(117 117 117);"></i>
                                </div>
                                <div class="user-dets d-flex flex-column">
                                    <h6>@<%= rev.author.username %></h6>
                                    <p>since <%= rev.author.createdAt.toLocaleString('en-IN',{year: 'numeric'}) %> on WanderLust</p>
                                </div>
                            </div>
                            
                            <% if(currentUser && currentUser._id.equals(rev.author._id)) {%>
                                <form action="/listings/<%- listed._id %>/reviews/<%- rev._id %>?_method=DELETE" method="post" class="rev-del">
                                    <button class="btn btn-sm btn-dark">Delete</button>
                                </form>
                            <% } %>
                        </div>

                        <div class="review-card-item2 d-flex flex-column">
                            <div class="star-rating d-flex">
                                <div class="reviewStars d-flex align-items-center">
                                    <% for(let i = 0; i<rev.rating; i++) {%>
                                        <i class="fa-solid fa-star" style="color: rgb(255, 89, 119);"></i>
                                    <% } %>
                                </div>
                                <p class="rev-posted">.  <%= rev.createdAt.toLocaleString('en-IN',{
                                    month:'long',
                                    year: 'numeric'}) %>
                                </p>
                            </div>
                            <p class="rev-comment"><%= rev.comment %></p>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <p class="text-muted">No reviews yet. Be the first!</p>
    <% } %>
</div>