<%- layout('layouts/boilerplate') %>


<h3 id="updateHeading">Edit / Update</h3>
<% if(typeof msg !== 'undefined') { %>

    <div class="alert alert-danger w-75 ed-alert">
        <%= msg %>
    </div>

<% } %>


<form action="/listings/<%- listed._id %>?_method=PUT" method="post" enctype="multipart/form-data" class="editListing d-flex flex-column needs-validation" novalidate>
    <div class="mb-3">
        <label for="newTitle" class="form-label">Property name</label>
        <input type="text" class="form-control" id="newTitle" placeholder="Property  name" name="title" value="<%- listed.title %>" required>
        <div class="invalid-feedback">Please enter the property name.</div>
    </div>
    <div class="mb-3">
        <label for="newDescription" class="form-label">Description</label>
        <textarea name="description" id="newDescription" class="form-control" placeholder="Describe the property." ><%- listed.description %></textarea>
    </div>
    <div class="edit-item1 d-flex justify-content-evenly">
        <div class="mb-3">
            <label for="newCountry" class="form-label">Country</label>
            <input type="text" class="form-control" id="newCountry" placeholder="Country" name="country" value="<%- listed.country %>" required>
            <div class="invalid-feedback">Please enter a valid country name.</div>
        </div>
        <div class="mb-3">
            <label for="newPrice" class="form-label">Price</label>
            <input type="number" class="form-control" id="newPrice" placeholder="Pricing" name="price" value="<%- listed.price %>" required>
            <div class="invalid-feedback">Please enter a valid price.</div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Original Image</label><br>
        <img src="<%= originalImage %>" alt="Current Image" class="img-thumbnail mb-2" style="max-width: 250px;">
    </div>
    <div class="mb-3">
        <label for="newImage" class="form-label">Update Image</label>
        <input type="file" class="form-control" id="newImage" name="image" accept="image/*">
        <div class="invalid-feedback">Please select a valid image. </div>
    </div>
    <div class="mb-3">
        <label for="newLocation" class="form-label">Location</label>
        <input type="text" class="form-control" id="newLocation" placeholder="Location" name="location" value="<%- listed.location %>" required>
        <div class="invalid-feedback">Please enter a valid location.</div>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
        <label class="form-check-label" for="exampleCheck1">I am the sole person responsible for this property and these new updated listing.</label>
    </div>
    <button type="submit" class="btn updatePost">Update post</button>
</form>