<%- layout('layouts/boilerplate') %>

<% if (typeof search !== 'undefined') { %>
    <p class="text-center mt-3">
        <% if (list.length === 0) { %>
            No results found for "<%= search %>" 
            <a href="/listings">View all listings</a>
        <% } else { %>
            <%= list.length %> result(s) for "<%= search %>"
        <% } %>
    </p>
<% } %>

<div class="listing-cards container-md">
    <div class="row g-4">
        <% for(let item of list) { %>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card listed-card h-100">
                    <div class="listing-img-container">
                        <img 
                            src='<%= item.image.includes("unsplash.com") 
                                ? item.image.split("?")[0] + "?w=400&q=60&auto=format&fit=crop" 
                                : item.image %>' 
                            class="card-img-top list-card-img" 
                            alt="<%= item.title %>"
                            loading="lazy"
                        >
                        <button type="button" class="wishlistBtn">
                            <i class="fa-regular fa-heart"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <a href="/listings/<%- item._id %>"><h6 class="card-title"><%- item.title %></h6></a>
                        <p class="card-text">₹<%- item.price.toLocaleString("en-in") %> for 1 night</p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>